.navbar {
    background-image: linear-gradient(to bottom, #290000, #6c1616);
    color: white;
    box-sizing: border-box;
    padding: 10px 2rem; 
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-menu {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1; 
}

.navbar-menu-left {
    justify-content: center;
}

.navbar-menu-right {
    justify-content: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto; 
    margin-inline: 95px;
}

.navbar-logo img {
    height: 100px;
    width: auto;
}

.navbar-item {
    margin: 0 1.5rem;
}

.navbar-link {
    color: #C0C0C0;
    text-decoration: none;
    font-size: 1.9rem;
    font-family: 'Pricedown', sans-serif;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #ff1919;
}