@font-face {
    font-family: 'Pricedown';
    src: url('assets/fonts/Pricedown.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

main {
    padding-top: 30px; 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    background-color: #121212;
}

body{
    color: #C0C0C0;
}

*, *::before, *::after {
    box-sizing: border-box;
}
